<div class='row'>
  <div class='col-auto'>
    
    <h2>Title: {{comments.project.title}}</h2>
    <h3> Description: {{comments.project.description}}</h3>
    
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3 name="createdID" id="{{comments.project.username_id}}">Create a New Comment:</h3>

    <form class='form new-comment-form'>
      <div class='form-group'>
        <label for='comment-desc'>comment:</label>
        <textarea
          class='form-input'
          id='comment-desc'
          name='comment-desc'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary projectid' id="{{comments.project.id}}" name="id">Create</button>
      </div>
    </form>
  </div>


    <div class='col-md-6 project-list'>
      <h3>Current Comments:</h3>

      {{#each comments as |comment|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4>Comment:{{comment.comment}}</h4>
          </div>
          <div class='col-md-8'>
            <h4>Created:{{format_date comment.date_created}}</h4>
          </div>
          <div class='col-md-8'>
            <h4>By:{{comment.username_id}}</h4>
          </div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{comment.id}}' id="delete" onclick="buttonPressed"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
 
</div>


<script src="/js/comment.js"></script>